<div class="sidebar bg-white border-end p-3">
  <!-- SIDEBAR TITLE -->
  <h5 class="fw-bold text-primary mb-4">AI Platform</h5>

  <!-- DASHBOARD -->

  <a href="/" class="sidebar-link text-dark p-2"> 🏠 Dashboard </a>

  <!-- INTELLIGENT SYSTEMS -->

  <a
    class="sidebar-link text-dark p-2"
    data-bs-toggle="collapse"
    href="#intelligent"
  >
    ▼ Intelligent Systems
  </a>

  <div class="collapse sidebar-submenu" id="intelligent">
    <a href="{{ url_for('artificial_intelligence') }}">
      Artificial Intelligence
    </a>

    <a href="{{ url_for('machine_learning') }}"> Machine Learning </a>

    <a href="{{ url_for('deep_learning') }}"> Deep Learning </a>
  </div>

  <!-- LEARNING PARADIGMS -->

  <a
    class="sidebar-link text-dark p-2"
    data-bs-toggle="collapse"
    href="#paradigm"
  >
    ▼ Learning Paradigms
  </a>

  <div class="collapse sidebar-submenu" id="paradigm">
    <a href="{{ url_for('supervised_learning') }}"> Supervised Learning </a>

    <a href="{{ url_for('unsupervised_learning') }}"> Unsupervised Learning </a>

    <a href="{{ url_for('reinforcement_learning') }}">
      Reinforcement Learning
    </a>
  </div>

  <!-- KNOWLEDGE DISCOVERY -->

  <a
    class="sidebar-link text-dark p-2"
    data-bs-toggle="collapse"
    href="#kddMenu"
  >
    ▼ Knowledge Discovery
  </a>

  <div class="collapse sidebar-submenu" id="kddMenu">
    <a href="{{ url_for('kdd') }}"> Knowledge Discovery in Databases </a>
  </div>

  <!-- AI APPLICATIONS -->

  <a
    class="sidebar-link text-dark p-2"
    data-bs-toggle="collapse"
    href="#applications"
  >
    ▼ AI Applications
  </a>

  <div class="collapse sidebar-submenu" id="applications">
    <!-- PREDICTIVE ANALYTICS -->

    <a data-bs-toggle="collapse" href="#predictiveAnalytics">
      ▸ Predictive Analytics
    </a>

    <div class="collapse ms-4" id="predictiveAnalytics">
      <a href="{{ url_for('predictive_documentation') }}"> Documentation </a>

      <a href="{{ url_for('buy_computer_prediction') }}">
        Buy Computer Prediction
      </a>
    </div>

    <!-- NATURAL LANGUAGE PROCESSING -->

    <a data-bs-toggle="collapse" href="#nlpMenu">
      ▸ Natural Language Processing
    </a>

    <div class="collapse ms-4" id="nlpMenu">
      <a href="{{ url_for('nlp_documentation') }}"> Documentation </a>

      <a href="{{ url_for('sentiment_analysis') }}"> Sentiment Analysis </a>
    </div>

    <!-- COMPUTER VISION -->

    <a data-bs-toggle="collapse" href="#visionMenu"> ▸ Computer Vision </a>

    <div class="collapse ms-4" id="visionMenu">
      <a href="{{ url_for('image_classification_documentation') }}">
        Documentation
      </a>
      <a href="{{ url_for('image_classification') }}"> Image Classification </a>
    </div>
  </div>
</div>
